In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('MA.csv')
df = df.dropna()
df.head()

   Month  Y_true
0      1  265.22
1      2  146.64
2      3  182.50
3      4  118.54
4      5  180.04

In [2]:
df.tail()

    Month  Y_true
34     35  581.17
35     36  647.82
36     37  650.81
37     38  677.54
38     39  666.56

In [3]:
alpha = 0.33
gamma = 0.40
s = 4
df['Level'] = 0.00
df['Level'][s-1] = np.mean([df['Y_true'][0:s]])
df['Level'][s-1]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

178.225

In [4]:
df['Seasonality'] = 0.00
for i in range(0,s):
    df['Seasonality'][i] = df['Y_true'][i] - df['Level'][s-1]

df.head()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Month  Y_true    Level  Seasonality
0      1  265.22    0.000       86.995
1      2  146.64    0.000      -31.585
2      3  182.50    0.000        4.275
3      4  118.54  178.225      -59.685
4      5  180.04    0.000        0.000

In [5]:
for i in range(s,len(df.Y_true)):
    df['Level'][i] = alpha * ( df['Y_true'][i] - df['Seasonality'][i-s] ) + (1-alpha) * df['Level'][i-1]
    df['Seasonality'][i] = gamma * ( df['Y_true'][i] - df['Level'][i] ) + (1-gamma) * df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

   Month  Y_true       Level  Seasonality
0      1  265.22    0.000000    86.995000
1      2  146.64    0.000000   -31.585000
2      3  182.50    0.000000     4.275000
3      4  118.54  178.225000   -59.685000
4      5  180.04  150.115600    64.166760
5      6  167.45  166.259002   -18.474601
6      7  231.75  186.460281    20.680887
7      8  223.71  218.448738   -33.706495

In [6]:
df['Y_pred'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Y_pred'][i] =  df['Level'][i-1] + df['Seasonality'][i-s]

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Month  Y_true       Level  Seasonality      Y_pred
0      1  265.22    0.000000    86.995000    0.000000
1      2  146.64    0.000000   -31.585000    0.000000
2      3  182.50    0.000000     4.275000    0.000000
3      4  118.54  178.225000   -59.685000    0.000000
4      5  180.04  150.115600    64.166760  265.220000
5      6  167.45  166.259002   -18.474601  118.530600
6      7  231.75  186.460281    20.680887  170.534002
7      8  223.71  218.448738   -33.706495  126.775281

In [7]:
df.tail(8)

    Month  Y_true       Level  Seasonality      Y_pred
31     32  407.33  408.018005    31.229240  486.726133
32     33  681.92  488.479765    95.423182  438.096486
33     34  475.78  461.788604    46.506082  556.662305
34     35  581.17  482.331725    73.813018  518.918118
35     36  647.82  526.637207    67.210661  513.560965
36     37  650.81  536.124578   103.128078  622.060389
37     38  677.54  567.444660    71.941785  582.630660
38     39  666.56  575.794427    80.594040  641.257678

In [8]:
df['Absolute Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Absolute Error'][i] = abs( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

   Month  Y_true       Level  Seasonality      Y_pred  Absolute Error
0      1  265.22    0.000000    86.995000    0.000000        0.000000
1      2  146.64    0.000000   -31.585000    0.000000        0.000000
2      3  182.50    0.000000     4.275000    0.000000        0.000000
3      4  118.54  178.225000   -59.685000    0.000000        0.000000
4      5  180.04  150.115600    64.166760  265.220000       85.180000
5      6  167.45  166.259002   -18.474601  118.530600       48.919400
6      7  231.75  186.460281    20.680887  170.534002       61.215998
7      8  223.71  218.448738   -33.706495  126.775281       96.934719

In [9]:
df.tail(8)

    Month  Y_true       Level  Seasonality      Y_pred  Absolute Error
31     32  407.33  408.018005    31.229240  486.726133       79.396133
32     33  681.92  488.479765    95.423182  438.096486      243.823514
33     34  475.78  461.788604    46.506082  556.662305       80.882305
34     35  581.17  482.331725    73.813018  518.918118       62.251882
35     36  647.82  526.637207    67.210661  513.560965      134.259035
36     37  650.81  536.124578   103.128078  622.060389       28.749611
37     38  677.54  567.444660    71.941785  582.630660       94.909340
38     39  666.56  575.794427    80.594040  641.257678       25.302322

In [10]:
df['Squared Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Squared Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error
0,1,265.22,0.000000,86.995000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,-31.585000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,4.275000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,-59.685000,0.000000,0.000000,0.000000
4,5,180.04,150.115600,64.166760,265.220000,85.180000,7255.632400
5,6,167.45,166.259002,-18.474601,118.530600,48.919400,2393.107696
6,7,231.75,186.460281,20.680887,170.534002,61.215998,3747.398411
7,8,223.71,218.448738,-33.706495,126.775281,96.934719,9396.339682

In [11]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error
31,32,407.33,408.018005,31.229240,486.726133,79.396133,6303.745861
32,33,681.92,488.479765,95.423182,438.096486,243.823514,59449.905970
33,34,475.78,461.788604,46.506082,556.662305,80.882305,6541.947211
34,35,581.17,482.331725,73.813018,518.918118,62.251882,3875.296805
35,36,647.82,526.637207,67.210661,513.560965,134.259035,18025.488376
36,37,650.81,536.124578,103.128078,622.060389,28.749611,826.540116
37,38,677.54,567.444660,71.941785,582.630660,94.909340,9007.782728
38,39,666.56,575.794427,80.594040,641.257678,25.302322,640.207475

In [12]:
df['Precent Error1'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error1'][i] = abs ((  df['Y_true'][i] - df['Y_pred'][i] ) / df['Y_true'][i])

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
0,1,265.22,0.000000,86.995000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,-31.585000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,4.275000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,-59.685000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,150.115600,64.166760,265.220000,85.180000,7255.632400,0.473117
5,6,167.45,166.259002,-18.474601,118.530600,48.919400,2393.107696,0.292143
6,7,231.75,186.460281,20.680887,170.534002,61.215998,3747.398411,0.264147
7,8,223.71,218.448738,-33.706495,126.775281,96.934719,9396.339682,0.433305

In [13]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1
31,32,407.33,408.018005,31.229240,486.726133,79.396133,6303.745861,0.194918
32,33,681.92,488.479765,95.423182,438.096486,243.823514,59449.905970,0.357554
33,34,475.78,461.788604,46.506082,556.662305,80.882305,6541.947211,0.169999
34,35,581.17,482.331725,73.813018,518.918118,62.251882,3875.296805,0.107115
35,36,647.82,526.637207,67.210661,513.560965,134.259035,18025.488376,0.207247
36,37,650.81,536.124578,103.128078,622.060389,28.749611,826.540116,0.044175
37,38,677.54,567.444660,71.941785,582.630660,94.909340,9007.782728,0.140079
38,39,666.56,575.794427,80.594040,641.257678,25.302322,640.207475,0.037960

In [14]:
df['Precent Error2'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error2'][i] = ( (  df['Y_pred'][i] - df['Y_true'][i] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
0,1,265.22,0.000000,86.995000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,-31.585000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,4.275000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,-59.685000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,150.115600,64.166760,265.220000,85.180000,7255.632400,0.473117,0.516351
5,6,167.45,166.259002,-18.474601,118.530600,48.919400,2393.107696,0.292143,0.073829
6,7,231.75,186.460281,20.680887,170.534002,61.215998,3747.398411,0.264147,0.133647
7,8,223.71,218.448738,-33.706495,126.775281,96.934719,9396.339682,0.433305,0.174952

In [15]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2
31,32,407.33,408.018005,31.229240,486.726133,79.396133,6303.745861,0.194918,0.019015
32,33,681.92,488.479765,95.423182,438.096486,243.823514,59449.905970,0.357554,0.358310
33,34,475.78,461.788604,46.506082,556.662305,80.882305,6541.947211,0.169999,0.014068
34,35,581.17,482.331725,73.813018,518.918118,62.251882,3875.296805,0.107115,0.017120
35,36,647.82,526.637207,67.210661,513.560965,134.259035,18025.488376,0.207247,0.053368
36,37,650.81,536.124578,103.128078,622.060389,28.749611,826.540116,0.044175,0.001969
37,38,677.54,567.444660,71.941785,582.630660,94.909340,9007.782728,0.140079,0.021267
38,39,666.56,575.794427,80.594040,641.257678,25.302322,640.207475,0.037960,0.001395

In [16]:
df['Precent Error3'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Precent Error3'][i] = ( (  df['Y_true'][i] - df['Y_true'][i-1] ) / df['Y_true'][i-1] )**2

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
0,1,265.22,0.000000,86.995000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,-31.585000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,4.275000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,-59.685000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,150.115600,64.166760,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166
5,6,167.45,166.259002,-18.474601,118.530600,48.919400,2393.107696,0.292143,0.073829,0.004890
6,7,231.75,186.460281,20.680887,170.534002,61.215998,3747.398411,0.264147,0.133647,0.147452
7,8,223.71,218.448738,-33.706495,126.775281,96.934719,9396.339682,0.433305,0.174952,0.001204

In [17]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3
31,32,407.33,408.018005,31.229240,486.726133,79.396133,6303.745861,0.194918,0.019015,0.085584
32,33,681.92,488.479765,95.423182,438.096486,243.823514,59449.905970,0.357554,0.358310,0.454440
33,34,475.78,461.788604,46.506082,556.662305,80.882305,6541.947211,0.169999,0.014068,0.091381
34,35,581.17,482.331725,73.813018,518.918118,62.251882,3875.296805,0.107115,0.017120,0.049067
35,36,647.82,526.637207,67.210661,513.560965,134.259035,18025.488376,0.207247,0.053368,0.013152
36,37,650.81,536.124578,103.128078,622.060389,28.749611,826.540116,0.044175,0.001969,0.000021
37,38,677.54,567.444660,71.941785,582.630660,94.909340,9007.782728,0.140079,0.021267,0.001687
38,39,666.56,575.794427,80.594040,641.257678,25.302322,640.207475,0.037960,0.001395,0.000263

In [18]:
df['Error'] = 0.00

for i in range(s,len(df.Y_true)):
    df['Error'][i] = ( df['Y_pred'][i] - df['Y_true'][i] )

df.head(8)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
0,1,265.22,0.000000,86.995000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,-31.585000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,4.275000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,-59.685000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,150.115600,64.166760,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166,85.180000
5,6,167.45,166.259002,-18.474601,118.530600,48.919400,2393.107696,0.292143,0.073829,0.004890,-48.919400
6,7,231.75,186.460281,20.680887,170.534002,61.215998,3747.398411,0.264147,0.133647,0.147452,-61.215998
7,8,223.71,218.448738,-33.706495,126.775281,96.934719,9396.339682,0.433305,0.174952,0.001204,-96.934719

In [19]:
df.tail(8)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error
31,32,407.33,408.018005,31.229240,486.726133,79.396133,6303.745861,0.194918,0.019015,0.085584,79.396133
32,33,681.92,488.479765,95.423182,438.096486,243.823514,59449.905970,0.357554,0.358310,0.454440,-243.823514
33,34,475.78,461.788604,46.506082,556.662305,80.882305,6541.947211,0.169999,0.014068,0.091381,80.882305
34,35,581.17,482.331725,73.813018,518.918118,62.251882,3875.296805,0.107115,0.017120,0.049067,-62.251882
35,36,647.82,526.637207,67.210661,513.560965,134.259035,18025.488376,0.207247,0.053368,0.013152,-134.259035
36,37,650.81,536.124578,103.128078,622.060389,28.749611,826.540116,0.044175,0.001969,0.000021,-28.749611
37,38,677.54,567.444660,71.941785,582.630660,94.909340,9007.782728,0.140079,0.021267,0.001687,-94.909340
38,39,666.56,575.794427,80.594040,641.257678,25.302322,640.207475,0.037960,0.001395,0.000263,-25.302322

In [20]:
df['Squared Error Diff'] = 0.00

for i in range(s+1,len(df.Y_true)):
    df['Squared Error Diff'][i] = ( df['Error'][i] - df['Error'][i-1] )**2

df.head(9)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
0,1,265.22,0.000000,86.995000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,2,146.64,0.000000,-31.585000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,3,182.50,0.000000,4.275000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,4,118.54,178.225000,-59.685000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,5,180.04,150.115600,64.166760,265.220000,85.180000,7255.632400,0.473117,0.516351,0.269166,85.180000,0.000000
5,6,167.45,166.259002,-18.474601,118.530600,48.919400,2393.107696,0.292143,0.073829,0.004890,-48.919400,17982.649080
6,7,231.75,186.460281,20.680887,170.534002,61.215998,3747.398411,0.264147,0.133647,0.147452,-61.215998,151.206322
7,8,223.71,218.448738,-33.706495,126.775281,96.934719,9396.339682,0.433305,0.174952,0.001204,-96.934719,1275.827006
8,9,192.98,188.869024,40.144446,282.615498,89.635498,8034.522591,0.464481,0.160542,0.018869,89.635498,34808.445930

In [21]:
df.tail(9)

,Month,Y_true,Level,Seasonality,Y_pred,Absolute Error,Squared Error,Precent Error1,Precent Error2,Precent Error3,Error,Squared Error Diff
30,31,575.77,434.218729,57.129514,365.765629,210.004371,44101.835971,0.364737,0.230547,0.100132,-210.004371,39753.201310
31,32,407.33,408.018005,31.229240,486.726133,79.396133,6303.745861,0.194918,0.019015,0.085584,79.396133,83752.651627
32,33,681.92,488.479765,95.423182,438.096486,243.823514,59449.905970,0.357554,0.358310,0.454440,-243.823514,104470.939892
33,34,475.78,461.788604,46.506082,556.662305,80.882305,6541.947211,0.169999,0.014068,0.091381,80.882305,105433.868675
34,35,581.17,482.331725,73.813018,518.918118,62.251882,3875.296805,0.107115,0.017120,0.049067,-62.251882,20487.395380
35,36,647.82,526.637207,67.210661,513.560965,134.259035,18025.488376,0.207247,0.053368,0.013152,-134.259035,5185.030037
36,37,650.81,536.124578,103.128078,622.060389,28.749611,826.540116,0.044175,0.001969,0.000021,-28.749611,11132.238534
37,38,677.54,567.444660,71.941785,582.630660,94.909340,9007.782728,0.140079,0.021267,0.001687,-94.909340,4377.109717
38,39,666.56,575.794427,80.594040,641.257678,25.302322,640.207475,0.037960,0.001395,0.000263,-25.302322,4845.136952

In [29]:
MSE = np.mean(df['Squared Error'][s:-1])
MSE

8988.404302259716

In [30]:
RMSE = np.sqrt(np.mean(df['Squared Error'][s:-1]))
RMSE

94.80719541395429

In [24]:
MAE = np.mean(df['Absolute Error'][s:-1])
MAE

77.95864641474901

In [25]:
MAPE = np.mean(df['Precent Error1'][s:-1])
MAPE

0.24241779638338887

In [26]:
ThielsU = np.sqrt( np.sum( df['Precent Error2'][s:-1] ) / np.sum( df['Precent Error3'][s:-1] ) )
ThielsU

0.8906500255352492